	* {
	    padding: 0;
	    margin: 0;
	    box-sizing: border-box;
	}
	body {
	    font-family: 'Malgun Gothic', sans-serif; /* 맑은 고딕 폰트 적용 */
        font-style: normal;
	    margin: 0;
	    background-color: #f5f5f5;
	}
	/* 헤더 스타일 */
	.header {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    background-color: #cae3f8;
	    padding: 10px 20px;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    height: 60px;
	}
	.header .logo {
	    font-weight: bold;
	    font-size: 20px;
	}
	/* 메뉴 스타일 */
	.menu {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    background-color: #eaf4f9;
	    padding: 10px 20px;
	}
	.menu a {
	    margin-right: 20px;
	    text-decoration: none;
	    color: black;
	    font-weight: bold;
	    padding: 10px 15px;
	    transition: background-color 0.3s;
	}
	.menu a:active,
	.menu a:focus {
	    background-color: #ffffff;
	    color: black;
	}
	/* 대시보드 컨테이너 스타일 */
	.container {
	    display: grid;
	    grid-template-columns: 3fr 2fr; /* 좌측이 더 넓게 설정 */
	    gap: 20px;
	    grid-template-rows: auto 1fr; /* 첫 번째 행은 내용에 맞추고, 두 번째 행은 자동으로 크기 조절 */
	    padding: 20px;
	}
	
	.left-section, .right-section {
	    display: flex;
	    flex-direction: column;
	    gap: 20px;
	}
	
	/* 지도 및 이벤트 테이블 스타일 */
	.map-container {
	    background-color: #ffffff;
	    padding: 20px;
	    font-size: 24px;
	    font-weight: bold;
	    border: 1px solid #ddd;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    text-align: left;
	    grid-row: 1 / span 2; /* 지도 컨테이너가 두 행을 차지하도록 설정 */
	}
	
	#map {
	    width: 100%;
	    height: 100%; /* 높이를 부모 요소에 맞춤 */
	}
	/* 이벤트 테이블 스타일 */
	.table-card {
	    background-color: #ffffff;
	    padding: 20px;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    border: 1px solid #ddd;
	    text-align: center;
	    max-height: 500px; /* 전체 카드 높이 설정 */
	    overflow: hidden; /* 전체 카드에서 스크롤 숨김 */
	}
	.table-card h2 {
	    margin-bottom: 10px;
	}
	.table-card table {
	    width: 100%;
	    border-collapse: collapse;
	}
	
	.table-card thead, .table-card tbody {
	    display: block; /* 블록 레벨로 설정 */
	}
	
	.table-card thead th {
	    background-color: #f9eac3;
	    padding: 10px;
	    border: 1px solid #ddd;
	    font-weight: bold;
	}
	
	.table-card tbody {
	    max-height: 350px; /* 본문 최대 높이 설정 */
	    overflow-y: auto; /* 스크롤 설정 */
	}
	
	.table-card tbody td {
	    padding: 10px;
	    border: 1px solid #ddd;
	    text-align: center;
	    width: calc(100% / 3); /* 균일한 너비 설정 */
	}
	
	.table-card tbody tr {
	    display: table;
	    width: 100%;
	    table-layout: fixed;
	}
	
	/* 주유 가격 카드 */
	.large-card {
	    background-color: #ffffff;
	    padding: 20px;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    font-size: 20px;
	    text-align: center;
	    border: 1px solid #ddd;
	}
	.text-cards {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    gap: 10px;
	}
	.text-card {
	    background-color: #f9f9f9;
	    padding: 15px;
	    text-align: center;
	    font-size: 18px;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    border: 1px solid #ddd;
	}
	/* 그래프 카드 스타일 */
	.chart-card {
	    background-color: #ffffff;
	    padding: 20px;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    border: 1px solid #ddd;
	    text-align: center;
	    font-size: 15px;
	    height: 500px;
	}
