<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ServiceMapper">

<insert id="insertServiceArea" parameterType="com.smhrd.model.tb_service_area">
	insert into tb_service_area values(#{sa_name},#{sa_type},#{sa_addr},#{lat},#{lon},#{sa_img1},#{sa_img2},#{sa_img3},#{created_at},#{updated_at})
</insert>

<select id="existServiceArea" resultType="com.smhrd.model.tb_service_area">
	select*from tb_service_area where sa_name = #{sa_name}	
</select>

<select id="getServiceArea" resultType="com.smhrd.model.tb_service_area">
	select*from tb_service_area
</select>


<insert id="insertDetails" parameterType="com.smhrd.model.tb_details">
	insert into tb_details values(
	#{sa_name},
	#{parking_space},
	#{is_car_maintenance},
	#{is_gas_station},
	#{is_lpg_station},
	#{is_ev_charge},
	#{is_break_room},
	#{is_rest_room},
	#{is_drug_store},
	#{is_nursinng_room},
	#{is_snack_bar},
	#{is_restaurant},
	#{is_hydrogen_charge},
	#{created_at}
	)	
</insert>

<select id="existDetails" resultType="com.smhrd.model.tb_details">
	select*from tb_details where sa_name = #{sa_name}
</select>


<insert id="insertAdmin" parameterType="com.smhrd.model.tb_admin">
	insert into tb_admin values(#{admin_id},#{admin_pw},#{admin_tel},#{sa_name},#{sa_addr},#{admin_position})
</insert>

<select id="login" parameterType="com.smhrd.model.tb_admin" resultType="com.smhrd.model.tb_admin">
	select * from tb_admin where admin_id = #{admin_id} and admin_pw = #{admin_pw}
</select>

<select id="existAdminId" resultType="com.smhrd.model.tb_admin">
	select* from tb_admin where admin_id = #{admin_id} and admin_pw = #{admin_pw}
</select>

<select id="getTrips" resultType="com.smhrd.model.domestic_trips">
	select*from domestic_trips
</select>

</mapper>